<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{option_a}} vs {{option_b}}!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="docker-compose, docker, voting, stack">
    <meta name="author" content="Tutum dev team">
    <meta name="description" content="A simple voting app built with Docker Compose">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>

  <body>
    <div id="content-container">
      <div id="content-container-center">
        <h3>{{option_a}} vs {{option_b}}!</h3>
        <form id="choice" name='form' method="POST" action="/" aria-label="Vote for your favorite option">
          <button id="a" type="submit" name="vote" class="a" value="a" aria-label="Vote for {{option_a}}">
            {{option_a}}
          </button>
          <button id="b" type="submit" name="vote" class="b" value="b" aria-label="Vote for {{option_b}}">
            {{option_b}}
          </button>
        </form>
        <div id="tip">
          <small>(Tip: you can change your vote)</small>
        </div>
        <div id="hostname">
          Processed by container ID: <strong>{{hostname}}</strong>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    {% if vote %}
    <script>
      $(document).ready(function() {
        var vote = "{{vote}}";

        if (vote === "a") {
          $(".a").prop('disabled', true).html('{{option_a}} <i class="fa fa-check-circle"></i>');
          $(".b").css('opacity', '0.5');
        } else if (vote === "b") {
          $(".b").prop('disabled', true).html('{{option_b}} <i class="fa fa-check-circle"></i>');
          $(".a").css('opacity', '0.5');
        }
      });
    </script>
    {% endif %}
  </body>
</html>
